/* STYLE INI BUAT TENTANG KALKULUS I & II */

@import url('https://fonts.cdnfonts.com/css/latin-modern-sans');
@font-face {
  font-family: HYWenHei;
  src: url(zhcn.ttf);
}

:root{

  /* COLOUR PALLETE 
  ORANGE ITS :#F9BE08 ;
  BIRU ITS : #013880 
  BIRU CERAH : #0088cc 
  PUTIH : #FFFFFF
  ABU2 : #EBEBEB
  ABU CERAH : #F8F8F8
  ;*/
  
  
  --text-color:#000;
  --bg-color:#fff;
  --first-color:#69B7D9;
  --second-color:#EBEBEB; /*warna dalem*/
  /* --third-color:#ffffff ;warna dalem, ketika hover */

  --primary-color: #013880 ; /*warna nav luar*/
  --secondary-color: #F8F8F8; /*warna dalem*/
  --tertiary-color: #DFDFD9;
  /* --primary-color-dark: #0088cc; */
  --secondary-color-dark: #4C3D3D;
}

.dark-mode{
  --text-color:#DBDBDB;
  --bg-color:#292929; /* #2D2D2D */
  --first-color:#013880;
  --second-color:#FFC410;
  --third-color:#69B7D9;

  --primary-color: #B1F0F7;
  --secondary-color: #1FB7FF;
  --tertiary-color: #F0E4DF;
  --primary-color-dark: #0631BC;
  --secondary-color-dark: #001A6E;
}

:-webkit-scrollbar{
  width: 0px;
}

::-webkit-scrollbar-track{
  background: var(--secondary-color);
}

*{
  margin: 0;
  padding: 0;
}

html{
  line-height: 1.5rem;
  text-align: justify;
  font-size: 16px;
}

body {
  font-family: 'LMSansDemiCond10', sans-serif;
  min-height: 100vh;
  min-height: 100dvh;
  background-color: var(--bg-color);
  color: var(--text-color);
  display: grid;
  grid-template-columns: auto 1fr;
}

#menu > li > ol > div > li::marker { 
  content: counters(list-item, '.') ' '; 
}

#menu > li > ol > div > li{
  margin-left: 25px;
}

#menu > li:nth-child(8) > ol > div > li::marker {
  content: 'A.'counter(list-item);
}

#menu > li:nth-child(9) > ol > div > li::marker {
  content: 'B.'counter(list-item);
}
 
main {
  padding: min(30px,7%);
}

main p{
  margin-top: 5px;
  margin-bottom: 15px;
}

.sidebar{
  box-sizing: border-box;
  font-family: HYWenHei;
  height: 100vh;
  width: 300px;
  background-color: var(--primary-color);
  border-right: var(--text-color) 1px solid;
  position: sticky;
  top: 0;
  align-self: start;
  max-height: 100vh;
  overflow: hidden;
  text-wrap: nowrap;
  transition: 0.5s ease-in-out;
  overflow-y: auto; 
}

#sidebar-btn {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Elemen di sisi kiri dan kanan */
}

.sidebar.hidden {
  width: 0px;
  #toggle-btn svg{
    transform: rotate(180deg);
  }
  #toggle-btn{
    left: 0;
  }
}

.sidebar ol{
  list-style-type: none;
}

.sidebar ol li.active{
  .svg-icon {
    width: 15px;
    height: 100%;
    margin: 0;
    flex-shrink: 0;
    color: var(--text-color);
  }
}

.sidebar a, .sidebar .dropdown-btn{
  padding: .3em;
  text-decoration: none;
  color: var(--text-color);
  display: flex;
  align-items: center;
  gap: 0.3em;
}

.dropdown-btn{
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

.sidebar a span, .sidebar .dropdown-btn span{
  flex-grow: 1;
}

.sidebar .dropdown-btn:hover{
  background-color: var(--primary-color-dark);
  color: black;
}

.sidebar a:has(.dropdown-btn){
  background-color: var(--second-color);
  border-radius: 0;
}

.sub-menu{
  font-size: 10px;
  background-color: var(--secondary-color);
}

.sidebar .sub-menu{
  display: grid;
  grid-template-rows: 0fr;
  transition: 0.3s ease-in-out;

  > div{
    overflow: hidden;
  }
}

.sidebar .sub-menu.show{
  grid-template-rows: 1fr;
}

.sub-menu{
  font-size: 15px;
  padding-left: 25px;
}

#menu a:hover{
  color: #001A6E;
  font-weight: bold;
}

#bold{
  font-weight: bold;
  /* color:white; */
}

#bold:hover{
  color:#001A6E;
  font-size: 1.03em;
}

#toggle-btn{
  position: fixed;
  left: 230px;
  padding: 1em;
  border: none;
  border-radius: .5em;
  border: #000 0.7px groove;
  background-color: #0088cc !important ;
  cursor: pointer;
  svg{
    transition: rotate 0.5s ease;
  }
  transition: 0.5s ease-in-out;
  background-color: var(--primary-color);
}

#toggle-btn:hover{
  background-color: var(--primary-color);
  fill:#FFC410;
  transform: scale(1.07);
}

.dfn-box{
  margin-top: 1.75em;
  margin-bottom: 1em;
  border: 2px solid var(--text-color);
  background-color: var(--bg-color);
  padding: 10px; 
  border-radius: 10px; 
  color: var(--text-color); 
}

.dfn-header {
  background-color: var(--text-color);/* #5cc6c6; */
  color: var(--bg-color);
  font-weight: bold;
  font-size: large;
  padding: 4px 10px; 
  border: 2px solid var(--text-color); 
  border-radius: 5px; 
  margin-top: -1.75em;
  margin-left: -0.25em;
  margin-bottom: 0.25em;
  display: table;
  padding: 0.25em;
}

.dfn-content {
  font-size: 16px; 
  line-height: 1.6;  
}

.definisi{
  background-color: #b7e0ff80;
  border-color: #7c96aa;
  .dfn-header{
    background-color: #51abf0;
    border-color: #0630bc96;
  }
}

.teorema{
  background-color: #FFCFB380;
  border-color: #5f4c41;
  .dfn-header{
    background-color: #FFCFB3;
    border-color: #C07F00;
  }
}

#SideBold{ /*untuk judul di Navbar */
  font-weight: bold;
}

#sidebar-btn .logo{
  font-family: Tahoma;
  font-weight: bold;
  font-size: 150%;
}

#size{
  font-size: 1.25em;
}

#home{
  background-color: rgba(255, 255, 255, 0.85);
  /* background-color:; */
  border-radius: 10px;
  margin:20px;
  border:black 1px solid;
  padding: 20px;
  font-family: Tahoma;
}

#home h1{
  font-size: 2em;
  text-align: center;
}

.title{
  padding-top:20px;
  display:inline-block;
  /* border: #000 1px solid; */
  
}

#home ul{
  list-style-type:circle;
  padding-left: 40px;
  font-size: 1.05em;
}

#home p{
  font-size: 1.05em;
}

#pesan{
  font-style: italic;
}

#AnakKP{
  text-align: right;
}


/* TULISAN KALKULUS */
.logo{
  padding: 1em;
  font-size: 1.2em;
}

.logo a{
  color:white
}

#sidebar-btn .logo a:hover{
  color:#0088cc ;
  font-size:1.02em;
}

/* TOMBOL KEMBALI */
#Back{
  font-weight: bold;
  margin-left: 15px;
  border:1px solid #000;
  border-radius: 5px;
  width:100px;
  padding: 30px auto 30px; 
  background-color: #EBEBEB;
  display: block;
  text-align: center;
  margin-top: 20px;
  padding: 15px;
} 

#Back:hover{
  background-color: #0088cc ;
  color:white !important;
  /* font-size: 1.1em; */
  /* padding-right: 25px; */
}

